<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<include resource="logback-base.xml" />

	<!-- configuration to be enabled when the "non-prod" profile is active -->
	<springProfile name="!prod">
		<include resource="logback-dev.xml" />
	</springProfile>

	<!-- configuration to be enabled when the "prod" profile is active -->
	<springProfile name="prod">
		<include resource="logback-prod.xml" />
	</springProfile>

	<include optional="true" resource="logback-override.xml" />

</configuration>
